#purple {
background-color: #82358b;
}
#lightgreen {
background-color: #2ECC71;
}
#darkgreen {
background-color: #1ABC9C;
}
#lightblue {
background-color: #3498DB;
}
#darkblue {
background-color: #34495e;
}
#yellow {
background-color: #F1C40F;
}

.messages {
	height: 175px;
} 
.container.form {
	padding-bottom: 25px;
	padding-top: 25px;
}
.col-md12.text-center.secretmessage {

}
#id_fromyo, #id_to {
text-transform: uppercase;
font-size: 30px;
height: 45px;
font-family: monospace;
}
#id_secretmessage {
font-size: 20px;
font-family: monospace;
}
#subs{
color: #82358b;
font-family: monospace;
}
.submessage{

	color: #F1C40F;
	font-size: 20px;
	margin-bottom: 0px;
}
.boton{
	width: 100%;
	background-color: #1ABC9C;

}
#header{
	padding-bottom: 0px;
}
#suscribehome, .passcode {
	padding-bottom: 50px;
}