<!-- Feature -->
<section id="feature" class="text-blue">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
        <h2 class="text-center">Send Yo Anonymous</h2>
        <p class="text-center lead">User are going to be able to reply without your indentity been reveal.</p>
      </div>
      <div class="col-md-12 column">
        <div class="row clearfix">
          <!-- RIGHT COLUMN -->
          <div class="col-sm-4 col-md-4 column text-center">

            <!-- #1 -->
            <div class="item-icon ">
                <i class="fa fa-github-alt fa-lg"></i>
            </div>
              
            <h3>Ready to use</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
            
            <!-- #2 -->    
            <div class="item-icon ">
                <i class="fa fa-headphones fa-lg"></i>
            </div>
              
            <h3>Multiple variations</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- #3 -->    
            <div class="item-icon ">
                <i class="fa fa-bar-chart-o fa-lg"></i>
            </div>
              
            <h3>Organic SEO</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

          </div>
            
            
            <!-- IPHONE IMAGE -->
          <div class="col-sm-4 col-md-4 column ">
            <img alt="iPhone" class="img-responsive" src="{% static 'images/iPhone.png' %}" />
          </div>
            
            <!-- LEFT COLUMN -->
          <div class="col-sm-4 col-md-4 column text-center">
              
            <!-- #1 -->  
            <div class="item-icon ">
                <i class="fa fa-user fa-lg"></i>
            </div>
              
            <h3>Amazing support</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
              
            <!-- #2 -->  
            <div class="item-icon ">
                <i class="fa fa-html5 fa-lg"></i>
            </div>
              
            <h3>Responsive design</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- #3 -->  
            <div class="item-icon ">
                <i class="fa fa-users fa-lg"></i>
            </div>
              
            <h3>User-friendly codes</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>
<!-- end feature -->