{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block sidemenu %}
  <!-- Side Menu -->
            <a id="menu-toggle" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-bars fa-lg"></i></a>
            <div id="sidebar-wrapper">
              <div>
                <a id="menu-close" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-times fa-lg"></i></a>
              </div>
              <ul class="sidebar-nav">
                <li class="spacer-25px"></li>
                <li><a href="/">Home</a></li>
                <li><a href="http://www.justyo.co/yosecret/">Messenger</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#social">Social</a></li>
              </ul>
            </div>
            <!-- End side menu --> 

{% endblock %}



{% block content %}

<div class="container">
		<div class="row clearfix">
		        <div class="col-md-12 column">
		          <h1 class="text-left">
		            <i id="logo" class="fa fa-map-marker"></i>
		          </h1>
		          <h1 class="main_title">Easiest Way to send anonymous message using the YO service.</h1>
		          <p class="text-left lead">
		            Explore how can you send anonymous and private messages to anybody with YO APP. To access YOSecret from your phone, just tap the YOSecret name from your YO APP. We will send you a link to the YOSecret Messenger.
		        </div>
<div class="col-md-12 column text-center" id="suscribehome">
             <p>Click this link on your smartphone</p>
             <a href="http://www.justyo.co/yosecret/" class="btn btn-lg btn-lead boton"><span></span>CLICK HERE TO SUBSCRIBE</a>
             </div>
		        </div>
            <div class="col-md-2 column">
            </div>
		</div>
</div><!-- /container  -->
{% endblock %}

{% block feature %}

{% endblock %}
{% block about %}
<!-- About info -->
<section id="about" class="container-fluid text-blue">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
      <h2 class="text-center">Our developers</h2>
       <p class="lead text-center">I'm the only soul on this web service.</p>
    </div>
  </div>
  <div class="row clearfix staff">
    <div class="col-md-12 column text-center">
      <img class="img-circle" alt="140x140" src="{% static 'images/prof_4.jpg' %}" />
      <h3 class="">David Gomez</h3>
      <span>Lead Designer</span><br>
      <span>email: amb1s1@gmail.com</span>
    </div>
    </div>
  </div> <!-- /container -->
</section>
<!-- end about -->
{% endblock %}

<!--Future implemntation-->
<!-- Feature -->
<section id="feature" class="text-blue">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
        <h2 class="text-center">Send Yo Anonymous</h2>
        <p class="text-center lead">User are going to be able to reply without your indentity been reveal.</p>
      </div>
      <div class="col-md-12 column">
        <div class="row clearfix">
          <!-- RIGHT COLUMN -->
          <div class="col-sm-4 col-md-4 column text-center">

            <!-- #1 -->
            <div class="item-icon ">
                <i class="fa fa-github-alt fa-lg"></i>
            </div>
              
            <h3>Ready to use</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
            
            <!-- #2 -->    
            <div class="item-icon ">
                <i class="fa fa-headphones fa-lg"></i>
            </div>
              
            <h3>Multiple variations</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- #3 -->    
            <div class="item-icon ">
                <i class="fa fa-bar-chart-o fa-lg"></i>
            </div>
              
            <h3>Organic SEO</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

          </div>
            
            
            <!-- IPHONE IMAGE -->
          <div class="col-sm-4 col-md-4 column ">
            <img alt="iPhone" class="img-responsive" src="{% static 'images/iPhone.png' %}" />
          </div>
            
            <!-- LEFT COLUMN -->
          <div class="col-sm-4 col-md-4 column text-center">
              
            <!-- #1 -->  
            <div class="item-icon ">
                <i class="fa fa-user fa-lg"></i>
            </div>
              
            <h3>Amazing support</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
              
            <!-- #2 -->  
            <div class="item-icon ">
                <i class="fa fa-html5 fa-lg"></i>
            </div>
              
            <h3>Responsive design</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- #3 -->  
            <div class="item-icon ">
                <i class="fa fa-users fa-lg"></i>
            </div>
              
            <h3>User-friendly codes</h3>
              
            <p>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>
<!-- end feature -->
{% block script %}
$( document ).ready(function() {

  $("#subscription").submit(function(event){

  event.preventDefault();
  var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
  var user = $('#id_user_profile').val();
  alert(user)
  $.ajax({
    type: "POST",
    url:"/subs/",
    data: {
      'user' : user,
      'csrfmiddlewaretoken' : csrfmiddlewaretoken,
    },
    success: passSuccess,
    datatype: 'html'

  });

  });
  function passSuccess(data, textSatus, jqXHR)
  {
    $('#subsmessage').html(data)
  }

  });


{% endblock %}