{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>YOSECRET - Send Private & Public Anonymous Messages</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- MY STYLE CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- BOOTSTRAP STYLE -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- GENERAL STYLE CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- COLOR STYLE CSS -->
  <link rel="stylesheet" href="{% static 'css/purple.css' %}">

  <!-- FLEXSLIDER -->
  <link href="{% static 'flexslider/flexslider.css' %}" rel="stylesheet" />

  <!-- Important Owl stylesheet -->
  <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %} ">

  <!-- Default Theme -->
  <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">

  <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

</head>
<body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            {% block sidemenu %}
            {% endblock %}
           


            <!-- Header -->
            <section id="header" class="container-fluid text-white homeheader">

              {% block content %}
              {% endblock %} 

            </section>   
            <!-- end header -->

            {% block feature %}
            {% endblock %}

            {% block about %}

            {% endblock %}


            <!-- Download -->
            <section id="download" class="text-white">
              <div class="container">
                <div class="row clearfix">
                  <div class="col-md-12 column text-center">
                    <h2 class="text-center">Are you ready?</h2> 
                    <p class="lead text-center">Download the YO APP NOW.</p>
                  </div>
                  <div class="col-md-12 text-center">
                    <a href="https://itunes.apple.com/us/app/yo./id834335592?mt=8" class="btn btn-lg btn-lead"><span class="glyphicon glyphicon-cloud-download"></span>DOWNLOAD</a>
                  </div>
                </div>
              </div>
            </section>
            <!-- end download -->


            <!-- Social -->
            <section id="social" class="container-fluid text-white">
              <div class="container">
                <div class="row">

                  <div class="col-md-12 text-center ">
                    <ul class="social-icons list-unstyled list-inline">
                      <li>
                        <a href="https://twitter.com/amb1s1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                          <div class="social-icon text-center"><i class="fa fa-twitter"></i></div>
                        </a>
                      </li>

                      <li>
                        <a href="https://plus.google.com/+DavidGomez255" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus" class="green-tooltip">
                          <div class="social-icon text-center"><i class="fa fa-google-plus"></i></div>
                        </a>
                      </li>
                      <li>
                        <a href="mailto:amb1s1@gmail.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip"><!-- Change to your own email address -->
                          <div class="social-icon text-center"><i class="fa fa-envelope"></i></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <!-- end social -->

            <!-- Neswsletter -->
            <section id="newsletter" class="container-fluid text-white">
              <div class="container">
                <div class="row clearfix">
                  <div class="col-md-12 text-center"> 
                    <p class="text-center text-blue">
                      <small>Yosecret Web Service by David Gomez</small>
                    </p>
                  </div>
                </div>
              </div>       
            </section>
            <!-- end newsletter -->

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.11.0.min.js'%}"><\/script>')</script>

            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <script src="{% static 'js/main.js' %}"></script>

            <!-- FLEXSLIDER -->
            <script src="{% static 'flexslider/jquery.flexslider-min.js' %}"></script>

            <!-- Include js plugin -->
            <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>

            <!-- Magnific Popup core JS file -->
            <script src="{% static 'magnific-popup/jquery.magnific-popup.js' %}"></script> 


            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
              (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
              e=o.createElement(i);r=o.getElementsByTagName(i)[0];
              e.src='//www.google-analytics.com/analytics.js';
              r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
              ga('create','UA-XXXXX-X');ga('send','pageview');
              {% block script %}{% endblock %}
            </script>
          </body>
          </html>
