{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block sidemenu %}
 <!-- Side Menu -->
            <a id="menu-toggle" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-bars fa-lg"></i></a>
            <div id="sidebar-wrapper">
              <div>
                <a id="menu-close" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-times fa-lg"></i></a>
              </div>
              <ul class="sidebar-nav">
                <li class="spacer-25px"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/messenger">Messenger</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#social">Social</a></li>
              </ul>
            </div>
            <!-- End side menu -->  

{% endblock %}
{% block content %}
<!-- Form to send -->
<section id="lightblue" class="text-blue ">
  <div class="container form">
    <div class="row clearfix">     
      <div class="col-md-6  col-md-offset-3 column text-center">
      <h1 class="main_title">Send Your Secret.</h1>
      <p>Use your real YO Name, remember we will not show your YO Name to the person that you sent a YO SECRET</p>
      <p>Use this messanger after tapping your YO APP</p>
  <form method="POST" action="">{% csrf_token %}
                    {{ form|crispy }}
                    <p id='text_feed'><p>
                  <input type='submit' class="btn btn-lg btn-lead" value="SEND A YOSECRET">
                </form>
      </div>
    </div>
  </div>
</section>
<!-- end form -->
{% endblock %}
{% block script %}
$( document ).ready(function() {

  $("#id_fromyo").attr('readonly', 'readonly');
  $('#secret').fadeIn('slow').delay(30000).fadeOut('slow');
  var iScroll = $(window).scrollTop();
  iScroll = iScroll + 200;
  $('body').animate({
            scrollTop: "167"
        },500 );
  var max = 200;
$('#text_feed').html(max + ' characthers remaining');
$('#id_secretmessage').keyup(function(){
    var text_length = $('#id_secretmessage').val().length ;
    var text_remain = max - text_length;
    $('#text_feed').html(text_remain + ' characthers remaining');
                            });
});
{% endblock %}
