{% if auth %}
	  <h3 class=""><h3 class="">From: {{secret.fromyo.user_profile_today_id}}</h3></h3>
      <span>TO: {{secret.to.user_profile_today_id}}</span><br>
              <div  class="col-md12 text-center secretmessage">
<p id="secret" class="lead text-center">{{ secret.secretmessage }}</p>
    </div>
	<script>
	$('#passform').hide()
	var from = "YO SECRET";
    var to = "{{ secret.toyouser }}";
    $('#id_toyouser').val(from);
    $('#id_fromyouser').val(to);
	</script>
{% else %}
	<h3>Wrong Passcode</h3>
{% endif %}