{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block sidemenu %}
<!-- Side Menu -->
<a id="menu-toggle" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-bars fa-lg"></i></a>
<div id="sidebar-wrapper">
  <div>
    <a id="menu-close" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-times fa-lg"></i></a>
  </div>
  <ul class="sidebar-nav">
    <li class="spacer-25px"></li>
    <li><a href="/">Home</a></li>
    <li><a href="/messenger">Messenger</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#download">Download</a></li>
    <li><a href="#social">Social</a></li>
  </ul>
</div>
<!-- End side menu -->  

{% endblock %}
{% block content %}
<section id="yellow" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
        {% if follow.conv_passcode %}
        <h2 class="text-center">YO SECRET HAS A PASSCODE</h2>
        {% else %}
        <h2 class="text-center">YO SECRET</h2>

        {% endif %}
      </div>

    </div>
    <div class="row clearfix staff">

      <div class="col-xs-6 col-sm-4 col-xs-offset-3 col-sm-offset-4 column text-center">
        <img class="img-circle" alt="140x140" src="/static/images/prof_4.jpg">
        <div id="passcode-secret">
        </div>
                      </div>
              </div>
          {% if secret.isreadcount > 1 %}
          <div  class="col-md12 text-center secretmessage">
            <h3 class="">From: ADMINISTRATOR </h3>
                <h3>To: YOU</h3>
                <p id="secret" class="lead text-center">Your Secret Was sent to the Wild !!!!!</p>
              </div>
          {% else %}
            {% if follow.conv_passcode %}
                <div  class="col-md-6 col-md-offset-3 text-center passcode">
                  <form method="POST" id="passform" action="">{% csrf_token %}
                    {{ passform|crispy }}
                    <input type='submit' value="PASSCODE">
                  </form>
                </div>
          {% else %}
                <div  class="col-sm-8 col-sm-offset-2 secretmessage">
                <h3 class="">From: {{secret.fromyo.user_profile_today_id}} </h3>
                <h3>To: {{secret.to.user_profile_today_id}}</h3>
                <p>We generated a yosecretid for you-ID only last a day<p>
              <div  class="col-sm-8 col-sm-offset-2 secretmessage">
                <p id="secret" class="text-center">{{ secret.secretmessage }}</p>
                </div>
              </div>
          {% endif %}
          {% endif %}




</div> <!-- /container -->
</section>

<!-- Form to reply -->
<section id="lightgreen" class="text-blue ">
  <div class="container form">
    <div class="row clearfix">     
      <div id="scroll" class="col-md-3 column text-center">
      </div>
      <div class="col-lg-12 col-md-6  column text-center">
        <h1 class="main_title">REPLY BACK.</h1>
        <p>We will never show your YO Name to YO Secret Admire.</p>
      {% if follow.conv_passcode %}
      <p><strong>This chat is secured with a passcode, no need to create a password unless
      you want to change it.</strong></p>
      {% endif %}
        <form method="POST" action="">{% csrf_token %}
          {{ form|crispy }}
          <p id='text_feed'><p>
          <input type='submit' class="btn btn-lg btn-lead" value="SEND A YOSECRET">
        </form>
      </div>
      <div class="col-md-3  column text-center">
      </div>
    </div>
  </div>
</section>
<!-- end form -->
{% endblock %}
{% block script %}
{% if follow.conv_passcode %}

{% else %}

$( document ).ready(function() {
var from = "YO SECRET";
var to = "{{ secret.toyouser }}";
$('#id_toyouser').val(from);
$('#id_fromyouser').val(to);
$("#id_to").attr('readonly', 'readonly');
$("#id_fromyo").attr('readonly', 'readonly');
});

{% endif %}
$( document ).ready(function() {
$('#secret').fadeIn('slow').delay(30000).fadeOut('slow');
var iScroll = $(window).scrollTop();
iScroll = iScroll + 200;
$('body').delay(30250).animate({
scrollTop: "500"
},2000 );


var max = 200;
$('#text_feed').html(max + ' characthers remaining');
$('#id_secretmessage').keyup(function(){
    var text_length = $('#id_secretmessage').val().length ;
    var text_remain = max - text_length;
    $('#text_feed').html(text_remain + ' characthers remaining');
                            });















$("#passform").submit(function(event){

event.preventDefault();
var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
var passcode = $('#id_passcode').val();
var slug = "{{ secret.slug }}";
$.ajax({
type: "POST",
url:"/passcode/",
data: {
'passcode' : passcode,
'csrfmiddlewaretoken' : csrfmiddlewaretoken,
'slug' : slug,
},
success: passSuccess,
datatype: 'html'

});
$("passcode-secret").load()

});
function passSuccess(data, textSatus, jqXHR)
{
  $('#passcode-secret').html(data)
}

});


{% endblock %}
