{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block sidemenu %}
 <!-- Side Menu -->
            <a id="menu-toggle" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-bars fa-lg"></i></a>
            <div id="sidebar-wrapper">
              <div>
                <a id="menu-close" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-times fa-lg"></i></a>
              </div>
              <ul class="sidebar-nav">
                <li class="spacer-25px"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/messenger">Messenger</a></li>
                <li><a href="/stream">Stream</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#social">Social</a></li>
                <li><a href="#newsletter">Subscribe</a></li>
              </ul>
            </div>
            <!-- End side menu -->  

{% endblock %}
{% block content %}
<section id="yellow" class="container-fluid text-white">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column p_title">
      <h2 class="text-center">YO SECRET</h2>
    </div>
  </div>
  <div class="row clearfix staff">
    <div class="col-xs-6 col-md-4 column text-center">
    </div>
    {% if secret.isread %}
    <div class="col-xs-12 col-md-4 column text-center">
      <img class="img-circle" alt="140x140" src="/static/images/prof_4.jpg">
          <h3 class="">From: ADMINISTRATOR </h3>
          <h3>To: YOU</h3>
    </div>
    </div>
        <div  class="col-md12 text-center secretmessage">
<p id="secret" class="lead text-center">Your Secret Was Read !!!</p>
    </div>
    {% else %}
    <div class="col-xs-12 col-md-4 column text-center">
      <img class="img-circle" alt="140x140" src="/static/images/prof_4.jpg">
          <h3 class="">From: {{secret.fromyo.user_profile_today_id}} </h3>
          <h3>To: {{secret.to.user_profile_today_id}}</h3>
          <p>We generated a yosecretid for you-ID only last a day<p>
    </div>
    </div>
        <div  class="col-sm-8 col-sm-offset-2 secretmessage">
        <h3 class="text-center">YOSecret was sent.</h3>
        </div>

    {% endif %}
  </div> <!-- /container -->
</section>

<!-- Form to reply -->
<section id="lightblue" class="text-blue ">
  <div class="container form">
    <div class="row clearfix">     
      <div id="scroll" class="col-md-3 column text-center">
      </div>
      <div class="col-lg-12 col-md-6  column text-center">
      <h1>Send Another Message.</h1>
      {% if follow.conv_passcode %}
      <p><strong>This chat is secured with a passcode, no need to create a password unless
      you want to change it.</strong></p>
      {% endif %}
  <form method="POST" action="">{% csrf_token %}
                    {{ form|crispy }}
                    <p id='text_feed'><p>
                  <input type='submit' class="btn btn-lg btn-lead" value="SEND A YOSECRET">
                </form>
      </div>
      <div class="col-md-3  column text-center">
      </div>
    </div>
  </div>
</section>
<!-- end form -->
{% endblock %}
{% block script %}
$( document ).ready(function() {
var max = 200;
$('#text_feed').html(max + ' characthers remaining');
$('#id_secretmessage').keyup(function(){
    var text_length = $('#id_secretmessage').val().length ;
    var text_remain = max - text_length;
    $('#text_feed').html(text_remain + ' characthers remaining');
                            });

});
{% endblock %}
