{% extends "index.html" %}
{% load staticfiles %}
{% block sidemenu %}
 <!-- Side Menu -->
            <a id="menu-toggle" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-bars fa-lg"></i></a>
            <div id="sidebar-wrapper">
              <div>
                <a id="menu-close" href="#menu" class="btn btn-links btn-lg toggle"><i class="fa fa-times fa-lg"></i></a>
              </div>
              <ul class="sidebar-nav">
                <li class="spacer-25px"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/messenger">Messenger</a></li>
                <li><a href="/stream">Stream</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#social">Social</a></li>
                <li><a href="#newsletter">Subscribe</a></li>
              </ul>
            </div>
            <!-- End side menu -->  

{% endblock %}
{% block content %}
{% for secret in secrets reversed %}
<tr class="{% cycle "lightgreen" "purple" "darkgreen" "lightblue" "darkblue" "yellow" as rowcolors %}"></tr>
<section id="{{rowcolors}}" class="container-fluid messages">
	<div class="container">
              <a style="display:block" href="/sender/{{secret.slug}}">
		<div class="col-md-12 text-center">
			<h3 id="secret"class="">{{secret.secretmessage}}</h3>
			<h3 id="secret"class="">{{secret.slug}}</h3>
		</div>
              </a>
	</div> <!-- /container -->
</section>

{% endfor %}
{% endblock %}
