<p>{{ message }}</p>
{% if yoverify %}
	<p>{{ message1 }}</p>
	<script>
	$("#subscription").hide()
	</script>
    
    <a href="/messenger/" class="btn btn-lg btn-lead"><span></span>YOSecret Messenger</a>

{% endif %}